<footer>
  <div class="flex">
    <div class="authors bloc-width">
      <p>Réalisé avec <span class="heart">❤</span> par</p>
      <p>Pierre-Louis BASTIN, Fabien JOUANNEAU et Mandy COELHO</p>
    </div>
    <div class="bloc-width">
      <a [routerLink]="['']"><img src="assets/images/logo.png"></a>
    </div>
    <div class="bloc-width">
      <div>
      <a href= "https://www.facebook.com/wildcodeschool"><img class = "fa-color" src="https://image.flaticon.com/icons/png/512/121/121502.png"></a>
      <a href= "https://twitter.com/wildcodeschool"><img class = "fa-color" src="https://image.flaticon.com/icons/png/512/36/36904.png"></a>
      <a href= "https://www.linkedin.com/school/10387519"><img class = "fa-color" src="https://image.flaticon.com/icons/png/512/36/36620.png"></a>
      <a href= "https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw"><img class = "fa-color" src="https://image.flaticon.com/icons/png/512/121/121504.png"></a>
      <a href= "https://www.instagram.com/wildcodeschool/"><img class = "fa-color" src="https://image.flaticon.com/icons/png/512/121/121520.png"></a>
      </div>
      <a href="mailto:contact@wildcodeschool.com">contact@wildcodeschool.com</a>
    </div>
  </div>
</footer>
