
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background: black;
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
}
footer:hover {
  box-shadow: 0 4px 5px 8px rgba(0, 0, 0, 0.3);
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}
.bloc-width{
  width: 33%;
}

p, a{
  color: var(--primary-color);
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}
.heart{
  color:var(--secondary-color);
  font-size: 20px;
}

img{
  height: 60px;
}

a:hover{
  color:var(--secondary-color);
}
.fa-color{
  background-color: var(--primary-color);
  height: 30px;
}
.fa-color:hover{
  background-color:var(--secondary-color);
}



