
.timerContainer{
  display: flex;
}


.timerForm{
  border-radius: 50%;
  // background-color: #57d8f2;
  // color: white;
  border: 1px solid #57d8f2;
  background-color: none;
  color: #57d8f2;
  font-weight: bold;
  margin: 20px;
  width:  75px;
  height: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.label{
  text-align: center;
  font-size: smaller;
}

.timerElement{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  transition: all .2s ease-in-out;
}
.timerForm:hover {
  background-color:#57d8f2;
  color: black;
  cursor: default;
}
