h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-variant: small-caps;
  font-size: 30px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 3px;
}
h3{
  text-align: center;
}
.pango-ring-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.primal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
body{
  font-family: 'Lato', sans-serif;
}
// Next & Previous buttons
.previous-next-algo-container{
  display:flex;
  justify-content: space-between;
  width: 60%;
}

.wrapper-next .test a, .wrapper-previous .test a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}
.icon-next{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}
.icon-previous{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  transform: rotate(45deg);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}
.icon-next svg, .icon-previous svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
}
.icon-previous svg{
  transform: rotate(135deg);
}
.wrapper-next .test a:hover, .wrapper-previous .test a:hover{
  width: 200px;
  border: 3px solid var(--secondary-color);
  background: transparent;
  color: var(--secondary-color);
}
.wrapper-next .test a:hover + .icon-next, .wrapper-previous .test a:hover + .icon-previous{
  border: 3px solid var(--secondary-color);
  right: -25%;
  fill: var(--secondary-color);
}
.wrapper-previous .test a:hover + .icon-previous{
  left: -25%
}
.wrapper-previous:hover .test:hover .icon-previous{
  border: 3px solid var(--secondary-color);
  fill: var(--secondary-color);
}
.test{
  display: flex;
  fill: transparent;
}
a {
  cursor: pointer;
}

// BATTLE TIMER
.timerContainer{
  display: flex;
  margin: auto;
}

.timerForm{
  border-radius: 50%;
  background-color: none;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 20px;
  width:  75px;
  height: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hours{
  border: 1px solid #449EDB;
  color: #449EDB
}

.minutes{
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color)
}

.seconds{
  border: 1px solid #44DBD0;
  color: #44DBD0
}

.milliseconds{
  border: 1px solid #4AA889;
  color: #4AA889
}

.hours:hover{
  background-color: #449EDB;
}

.minutes:hover{
  background-color: var(--secondary-color);
}

.seconds:hover{
  background-color: #44DBD0;
}

.milliseconds:hover{
  background-color: #4AA889;
}


.label{
  text-align: center;
  font-size: smaller;
}

.timerElement{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  transition: all .2s ease-in-out;
}
.timerForm:hover {
  color: black;
  cursor: default;
}
