h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-variant: small-caps;
  font-size: 30px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 3px;
}
.pango-ring-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.primal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
body{
  font-family: 'Lato', sans-serif;
}
// Next & Previous buttons

.wrapper-next, .wrapper-previous{
  position: fixed;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.wrapper-previous{
  left: 40%;
}
.link_wrapper-next, .link_wrapper-previous{
  position: relative;
}
.wrapper-next a, .wrapper-previous a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}
.icon-next{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}
.icon-previous{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}
.icon-next svg, .icon-previous svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #57d8f2;
  transition: all .35s;
}
.icon-previous svg{
  transform: rotate(135deg);
}
.wrapper-next a:hover, .wrapper-previous a:hover{
  width: 200px;
  border: 3px solid #57d8f2;
  background: transparent;
  color: #57d8f2;
}
.wrapper-next a:hover + .icon-next, .wrapper-previous a:hover + .icon-previous{
  border: 3px solid #57d8f2;
  right: -25%;
}
.wrapper-previous a:hover + .icon-previous {
  left: -25%
}
