<div class="pango-ring-top">
  <h1>{{battle}}</h1>
  <btd-stepper [activeIndex]="algoIndex" ></btd-stepper>
</div>

<!-- <p>Battle N° {{currentBattle[0].id}}</p>
<p>Nom Battle : {{currentBattle[0].name}}</p>
<div *ngFor="let algo of currentBattle[0].algoList; let i = index">
  <p>ID algo {{i+1}} : {{algo.id}}</p>
  <p>Instructions : {{algo.instructions}}</p>
  <p>Solution : {{algo.solution}}</p>
  <p>Level : {{algo.level}}</p>
  <br>
</div> -->

<div class="primal-container">
  <h2>Instructions</h2>
  <btd-instructions [algorithm]="currentAlgo"></btd-instructions>
  <btd-input-and-solution [algorithm]="currentAlgo" ></btd-input-and-solution>

  <div *ngIf="currentAlgo.isCompleted"></div>

  <div class="previous-next-algo-container">
    <div class="wrapper-previous">
      <div class="test" *ngIf="algoIndex>0">
          <div class="icon-previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
              <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
            </svg>
          </div>
          <a (click)="previousAlgo()">Algo précédent</a>
      </div>
    </div>
    <div class="wrapper-next">
      <div class="test" *ngIf="currentAlgo.isCompleted && idNextAlgo">
        <a (click)="nextAlgo()">Prochain algo !</a>
        <div class="icon-next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
            <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
          </svg>
        </div>
      </div>
    </div>
</div>

