.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2{
  text-align: center;
  color: var(primary-color);
  margin: 20px;
}

.link_wrapper, .link_wrapper{
  position: relative;
}

 button{
  margin-top: 20px;
  display: block;
  padding: 10px 50px;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}
.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}
.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: var(--secondary-color);
  transition: all .35s;
}

.wrapper a:hover + .icon{
  border: 3px solid var(--secondary-color);
  right: -25%;
}
button:hover {
  border: 3px solid var(--secondary-color);
  right: -25%;
}

