<nav>
  <div>
    <a routerLink=''><img class="logo" src="assets/images/logo.png"></a>
  </div>
  <div>
    <ul>
      <li><a routerLink='/home'>Accueil</a><li>
      <li *ngIf="admin"><a routerLink='/admin'>Admin</a></li>
      <li><a routerLink='/classement'>Classement</a></li>
      <li><a routerLink='/about'>A propos</a></li>

      <div *ngIf= "user" (click)= "logOut()" class="button">
        <img class="avatar" src="https://avatars.githubusercontent.com/{{user.github}}">
        <div class="arrow-hidden">
          <img class="arrow" src="assets/images/menu_down_icon_135414.svg">
        </div>
      </div>
    </ul>
  </div>

    <div class="logOut">
      <div [hidden] ='hidden' class="exit-style" (click)="deleteToken()">Déconnexion</div>
    </div>
</nav>

