<div class="form-container">
  <form action="" (ngSubmit)="allowNextAlgo()">
    <textarea rows="10" cols="70" pInputTextarea [(ngModel)]="newSolution" type="text" name="solution"></textarea>
    <button type="submit">Tester ma solution</button>
  </form>
  <div *ngIf="displayButtonNextAlgo">Bravo !</div>
  <div class="previous-next-algo-container">
    <div *ngIf="displayButtonNextAlgo">
      <a routerLink="/pango-ring/{{algoList[currentAlgoIndex+1]?.id}}">
        <button>Prochain algo !</button>
      </a>
    </div>
    <div>
    <div *ngIf="displayButtonPreviousAlgo">
    <a routerLink="/pango-ring/{{algoList[currentAlgoIndex-1]?.id}}">
      <button>Algo précédent</button>
    </a>
  </div>
  </div>
</div>

