<div class="cards-container">
  <div class="card-1">
    <h1>Pourquoi BattleDev ?</h1>
    <hr>
    <p>Oser la reconversion professionnelle à la Wild est une aventure – et c’est peu dire. Le Wilder est un explorateur qui, machette en main, avance bon an mal an pour s’enfoncer dans les profondeurs de la jungle. Chaque heure est un challenge, chaque jour est ponctué de victoires et de défaites et chaque semaine est une ode à la rétrospection. Le wilder peut alors prendre sa propre mesure et oser un coup d’œil sur le sentier qui déjà s’étire derrière lui.
      Au cœur de cette révolution, <span class="text-important">l’esprit de logique et l’analyse</span> constituent la pierre angulaire de sa progression ; et c’est fort de cet état de fait que BattleDev est née. L’objectif est de confronter les Wilders sur des exercices d’algorithmie. Outre une confrontation aux autres, c’est avant tout un face à face avec soi-même afin de : maintenir la rigueur, l’autodiscipline et continuer à faire progresser analyse et logique. </p>
  </div>
  <div class="card-2">
    <h1>Comment fonctionne BattleDev ?</h1>
    <hr>
    <p>Parce que le Wilder a un emploi du temps très chargé et un esprit occupé, BattleDev propose à ses participants <span class="text-important">une Battle par mois.</span> Pour savoir quand cette dernière aura lieu, il suffit au Wilder de se rendre sur la page d’accueil du site qui indique dans combien de temps la prochaine Battle se déroulera. Pour se connecter à la Battle, il suffit d’attendre la fin du décompte; l’accès y est alors possible. Entre deux Battles, tout Wilder peut se rendre sur le site et s’entraîner sur les Battles précédentes.
    </p>
  </div>
  <div class="card-3">
    <h1>Qu'est-ce que BattleDev ?</h1>
    <hr>
    <p>Chaque Battle comprend <span class="text-important">5 exercices d’algorithme.</span> Ces derniers vont du plus facile au plus difficile. D’une Battle à l’autre, un mois se passe. Les Battles sont donc de plus en plus difficiles. Toutes les fonctions doivent êtres écrites selon le paradigme « arrow function ».
      Les exercices sont crées par les formateurs. Il fait donc partie de l’enjeu que de tenter de substituer toute information susceptible de vous aider aux formateurs ; si vous êtes malin et lui corruptible, peut-être pourriez-vous obtenir un avantage considérable…
      Une fois la Battle terminée, un classement est établi et les trois premiers reçoivent une récompense.</p>
  </div>
</div>
