<div class = 'timerContainer'>
  <div>
    <div class = 'label'>Jours</div>
    <div class = 'timerForm'><div class = 'timerElement'>{{this.days}}</div></div>
  </div>
  <div>
    <div class = 'label'>Heures</div>
    <div class = 'timerForm'><div class = 'timerElement'>{{this.hours}}</div></div>
  </div>
  <div>
    <div class = 'label'>Min</div>
    <div class = 'timerForm'><div class = 'timerElement'>{{this.minutes}}</div></div>
  </div>
  <div>
    <div class = 'label'>Sec</div>
    <div class = 'timerForm'><div class = 'timerElement'>{{this.seconds}}</div></div>
  </div>
</div>
