.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 170px;
}
h1, h2{
  margin: 20px;
}
h1 {
  font-size: 50px;
}
.h1-style {
  color:var(--secondary-color);
}
p {
  font-size: 22px;
  margin-top: -10px;
  margin-bottom: 30px;
}
.timer {
  margin: 30px 0 50px 0;
}
button{
  display: block;
  width: 300px;
  height: 50px;
  line-height: 43px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color:var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  margin: 20px;
  &:hover {
    width: 270px;
    border: 3px solid var(--secondary-color);
    background: transparent;
    color: var(--secondary-color);
    cursor: pointer;
    .odyssey {
      color:var(--thirdary-color);
    }
  }
}
a {
  width: 400px;
  height: 100px;
  line-height: 43px;
  color:var(--secondary-color);
  &:hover {
    color:var(--secondary-color);
  }
}
