<div class="form-container">
  <form action="" (ngSubmit)="checkAndUpdateAlgo()">
    <textarea rows="10" cols="70" pInputTextarea [(ngModel)]="newSolution" type="text" name="solution"></textarea>
    <button type="submit">Tester ma solution</button>
  </form>
  <div *ngIf="wrongSolution">Ce n'est pas la bonne réponse !</div>
  <div class="bravo" *ngIf="algorithm.isCompleted">Bravo ! Tu peux passer à l'algorithme suivant.</div>

  <div class="previous-next-algo-container">

    <!-- <div *ngIf="algorithm.isCompleted">
      <button (click)="nextAlgo()">Prochain algo !</button>
    </div>

    <div *ngIf="displayButtonPreviousAlgo">
      <button (click)="previousAlgo()">Algo précédent</button>
    </div> -->
  </div>
</div>
