.form-container, form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  background-color: #696969;
  color: white;
  border-color: white;
}
textarea:hover {
  border-color: #57d8f2;
}
.previous-next-algo-container {
  display: flex;
  flex-direction: row-reverse;
}
.previous-next-algo-container button {
  margin-left: 40px;
  margin-right: 40px;
}

button{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 43px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  margin: 20px;
}
button:hover{
  width: 200px;
  border: 3px solid #57d8f2;
  background: transparent;
  color: #57d8f2;
  cursor: pointer;
}
.bravo {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
