.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 140px;
}
.welcome-user {
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
}
.colored-user {
  color: var(--secondary-color);
  font-weight: bold;
}
.card{
  width: 40%;
}

.line{
  height: 200px;
  width: 1px;
  border: 1px solid grey;
  margin: auto 20px;
}
