body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
  background: var(--secondary-color);
  color: black;
};
.ui-steps .ui-steps-item {
  width: 20%;
};
body .ui-steps .ui-steps-item .ui-menuitem-link:focus {
  box-shadow: none;
};
.ui-state-complete .ui-steps-number{
  background-color: var(--secondary-color) !important;
}
