.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
  color: #57d8f2;
}

button{
  width: 100px;
  background-color: #57d8f2;
  color: white;
  border-radius: 20px;
  margin: 20px 0px;
}
