<btd-nav></btd-nav>
<h1>Classement général</h1>

<div *ngIf="battle" class="battle-container">
  <h2>{{battle.name}}</h2>
  <div class="user-score-container">
    <table class="user-container">
      <thead>
        <tr>
          <th class="rang">Rang</th>
          <th>Nom</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wilder of scores; let i = index">
          <td>{{i+1}}</td>
          <td>
            <img class="avatar" src="https://avatars.githubusercontent.com/{{wilder.githubPict}}">
            <p>{{wilder.fullname}}</p>
          </td>
          <td>{{wilder.finalScore}}</td>
        </tr>
      </tbody>
    </table>
</div>

