h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 25px;
  text-align: center;
}

//table
.user-score-container {
  display: flex;
  justify-content: center;
}

table {
  border: medium solid #000000;
  width: 60%;
}

//thead
thead{
  background:#111;
}

th{
  padding: 10px;
}

tr th:first-child{
  width: 10%;
}

tr th:last-child{
  width: 15%;
}

//tbody
tr td:first-child, tr td:last-child{
  text-align: center;
}

tbody tr td{
  margin: 10px 0;
}

tr td:nth-child(2){
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.avatar{
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}
