.container{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

//TABLE
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 60%;
  margin: 20px auto;
  table-layout: fixed;
}
th,td {
  padding: 6px 15px;
  text-align: center;
}
th {
  background: #42444e;
  color: #fff;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

//IMG
img{
  height: 30px;
  width: 30px;
}
.img-space{
  margin-right: 20px;
}

//BUTTONS
button{
  padding: 5px 20px;
  background-color: none;
  border-color: #57d8f2;
  border-radius: 10px;
}

.newBattle{
  width: 20%;
  font-size: x-large;
  margin: 10px auto;
  font-weight: bolder;
  color: #57d8f2;
}

//FORM
.createAlgo{
  width: 60%;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 6px;
}
.formButtonLevel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 50%;
}

.formContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
}

.formElement{
  display: flex;
  flex-direction: column;
  width: 32%;
  margin: 0px 1%;
}

.formButtonEnd{
  display: flex;
  justify-content: center;
  margin:20px;
}
textarea{
  resize: none;
}

.formButton{
  margin: 0px 20px 0px 20px;
  font-size: large;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label > img {
  border: 1px solid black;
  border-radius: 4px;
}
.hover-img:hover {
  opacity:0.6;
  cursor: pointer;
}

.errorMessage{
  font-size: smaller;
  color: red;
}

#submit{
  background-color: #57d8f2;
  color: white;
  font-weight: bolder;
}

span{
  color: red;
}


