<div class = "container">
  <table>
    <thead>
      <tr>
        <th colspan="3">Nom de la battle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let algo of algoList">
        <td>Algorithme ID {{algo.id | json}}</td>
        <td></td>
        <td>
          <img (click)='displayForm()' class="img-space hover-img" src="https://image.flaticon.com/icons/png/512/84/84380.png">
          <img class="img-checked" src="assets/images/checked.svg"></td>
      </tr>
    </tbody>
  </table>
  <btd-algo-form [hidden]='display'></btd-algo-form>
</div>
