.container{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

//TABLE
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 60%;
  margin: 20px auto;
  table-layout: fixed;
}
th,td {
  padding: 6px 15px;
  text-align: center;
}
th {
  background: #42444e;
  color: #fff;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
  color: black;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
//IMG
img{
  height: 30px;
  width: 30px;
}
.img-space{
  margin-right: 20px;
}
.hover-img:hover {
  opacity:0.6;
  cursor: pointer;
}
.img-checked{
  opacity: 0.3;
}
